<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id = "nl.counterculture.app"
        version = "0.0.4">
    <name>CounterCulture 2014</name>

    <description>
        CounterCulture festival 2014
    </description>
    
    <author href="http://ooxo.nl" email="gabor@ooxo.nl">
        OOXO-CyberPunX Dubbel Tag Team
    </author>
    
    <content src="index.html" />
    <access origin="http://counterculturefestival.nl" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="permissions" value="none"/>

    <gap:splash src="splash.png" />
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <gap:plugin name="org.apache.cordova.dialogs" />
    <!-- Define app icon for each platform. -->
    <icon src="app_icon_rood.png" />
    
    <!--<feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>-->
    
</widget>
